{
    "presets": [ "env", "stage-0" ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "config": "./config/config.json",
                    "data": "./data",
                    "services": "./src/services",
                    "app": "./app",
                    "middlewares": "./middlewares",
                    "utils": "./utils",
                    "controllers": "./controllers",
                    "test": "./test"
                }
            }
        ]
    ]
}
